*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkseagreen;
    font-family: Calibri;
    margin-top: 30px;
}
.regform{
    text-align: center;
    color: white;
}
fieldset{
    width: 700px;
    border-color: white;
}
form{
    padding: 15px;
}
.name{
    font-family: Arial;
    margin-left: 25px;
    color: white;
    font-size: 25px;
}
#fname{
    position: relative;
    left: 150px;
    top: -25px;
    line-height: 20px;
    border-radius: 6px;
    padding: 0 10px;
}
#lname{
    position: relative;
    left: 270px;
    top: -50px;
    line-height: 20px;
    border-radius: 6px;
    padding: 0 10px;
}
#flabel{
    position: relative;
    color: white;
    left: 150px;
    top: -25px;
}
#llabel{
    position: relative;
    color: white;
    left: 90px;
    top: -25px;  
}
#company{
    position: relative;
    left: 150px;
    top: -24px;
    line-height: 20px;
    width: 360px;
    border-radius: 6px;
    padding: 0 5px;
}
#email{
    position: relative;
    left: 150px;
    top: -24px;
    line-height: 20px;
    width: 360px;
    border-radius: 6px;
    padding: 0 5px;
}
#area-code{
    position: relative;
    left: 150px;
    top: -24px;
    line-height: 20px;
    width: 50px;
    border-radius: 6px;
    padding: 0 5px;
}
#phone{
    position: relative;
    left: 250px;
    top: -24px;
    line-height: 20px;
    width: auto;
    border-radius: 6px;
    padding: 0 5px;
}
#area{
    position: relative;
    color: white;
    left: 85px;
    top: -5px;
}
#ph{
    position: relative;
    color: white;
    left: 77px;
    top: -5px;
}
.option{
    position: relative;
    left: 150px;
    top: -24px;
    line-height: 30px;
    width: 375px;
    border-radius: 6px;
    padding: 0 5px;
}
#yes{
    position: relative;
    left: 25px;
    top: 5px;
}
#no{
    position: relative;
    left: 25px;
    top: 5px;
}
#submit{
    text-align: center;
    position: relative;
    left: 25px;
    top: 10px;
}